body {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.circle {
  width: 100%;
  height: 100%;
 background-image: url(./John_pork_flag_oikee.png);
  border-radius: 50%;
}

.square {
  width: 100%;
  height: 100%;
  background-image: url(./grass-2119587_1280.jpg);
  /* You can customize the square color */
}

.enemy {
  width: 100%;
  height: 100%;
  background-image: url(reznik.jpg);
  /* You can customize the square color */
}

.coin {
  width: 100%;
  height: 100%;
  background-image: url(jabko.png);
  /* You can customize the square color */
}